body,*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App{
  height: 100vh;
  background-image: url("../src/assets/about2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }